/* Barra superior con fondo degradado */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(to right, #fcf067, #D88CFF); */
    background: linear-gradient(to right, #4e79a7, #9b59b6);
    /* Degradado de azul a morado */
    /* Degradado de azul a morado */
    color: white;
    padding: 15px;
    border-radius: 5px;
}

*:focus {
    outline: 4px solid #f1c40f;
    outline-offset: 1px;
}


/* Estilos del logo */
.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
}

/* Menú en barra superior */
.menu-bar {
    display: flex;
    gap: 20px;
}

.menu-bar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: color 0.3s;
}

.menu-bar a:hover {
    color: #f1c40f;
    /* Color dorado al pasar el mouse */
}

body {
    background-color: #F7F7F7;
    font-family: Arial, sans-serif;
}

/* Contenedor de juegos */
.juego-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.juego {
    background-color: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.juego:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2)
}

.juego img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.juego h3 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.juego p {
    font-size: 16px;
    color: #555;
    margin: 5px, 0;
}

.juego .precio {
    font-size: 18px;
    color: #258752;
    font-weight: bold;
}

/* Estilo de los botones */
.juego button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.juego button:hover {
    background-color: #f1c40f;
}

/* Ajustes de título y párrafos generales */
h1,
h2,
p {
    font-family: Arial, sans-serif;
    color: #333;
    /* Color de texto gris oscuro */
}

/* Secciones generales */
#cuenta,
#sobre-nosotros {
    padding: 20px;
}


/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    margin: 8% 25%;
    width: 60%;
    max-width: 700px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: row;
}

/* Cerrar botón */
.close {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

/* Contenedor de imagen y título */
.juego-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.juego-img img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.juego-img h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.fecha-apartado-detalles {
    margin-top: 30px;
}

/* Estilos para los detalles del juego */
#juego-detalles {
    text-align: left;
    color: #555;
    font-size: 1em;
    line-height: 1.6;
    padding: 3%;
}

#juego-detalles p {
    margin: 8px 0;
}

#juego-detalles strong {
    color: #333;
    font-weight: 600;
}

/* Botón de confirmación */
button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #f1c40f;
}

/* Responsividad */
@media (max-width: 768px) {
    .juego-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .juego {
        padding: 15px;
    }

    .juego h3 {
        font-size: 16px;
    }

    .juego p {
        font-size: 13px;
    }

    .juego .btn-ver-mas {
        font-size: 12px;
    }
}

/* LOGO */
.logo-link:hover {
    color: #000;
}

/* iconos de dictado */
.iconos-dictado {
    position: absolute;
    /* O usa absolute si el contenedor tiene un elemento padre con position relativo */
    right: 20px;
    /* Distancia del borde derecho */
    top: 100px;
    /* Distancia del borde superior */
    display: flex;
    gap: 10px;
    align-items: center;
}

.logoname {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-link img {
    margin-right: 8px;
    /* Espacio entre la imagen y el texto */
}

.iconos-dictado .icono-bocina {
    cursor: pointer;
    background-color: #726AAE;
    /* background-color: #6CA0DC; */
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}

.iconos-dictado .icono-bocina:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    /* Espacio superior para separar del contenido */
}